<li id="<%=company.id%>"><%= company.name %>
<%= link_to 'Detalle', company_path(company.id), data: {remote: true} %>
<%= link_to 'Editar', edit_company_path(company.id), data: {remote: true} %>
<%= link_to 'Eliminar', company, method: :delete, data: {confirm: '¿Estás seguro de eliminar la empresa?', remote: true} %></li>

